.error-container {
  padding: 16px;
  background-color: #f8d7da;
  color: #721c24;
  /* border: 1px solid #f5c6cb; */
  border-radius: 4px;
  margin: 20px 0;
  text-align: center;
}

.error-container p {
  margin: 0;
  font-size: 16px;
}