.hover-sidebarunderline-animation::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  color: white;
}

.hover-sidebarunderline-animation:hover::before {
  visibility: visible;
  width: 100%;
}

/* Add styles for active link */
.active1 {
  background-color: #1d4ed8;
  /* Blue background for active link */
  color: white;
  /* White text color for the active link */
  border-radius: 0.25rem;
  /* Optional: rounded corners */
}




.menuhover:hover {
  background-color: #2b2b2b;
}